
# NetBeans specific #
server/nbproject/project.properties
server/nbproject/private/
server/build/
server/nbbuild/
server/dist/
server/nbdist/
server/nbactions.xml
server/nb-configuration.xml


client/nbproject/project.properties
client/nbproject/private/
client/build/
client/nbbuild/
client/dist/
client/nbdist/
client/nbactions.xml
client/nb-configuration.xml

# Intellij IDEA specific #
.idea/
/client/.idea/
/client/tic-tac-toe.iml

# Class Files #
*.class

# Connection specific
server/src/tictactoe/server/Config.java
